<html>

  <body>
    <%= form_for :form, :url => "hitapi" do |f| %>
      <label>
        Url
        <input type="urls" id="urls" name="urls">
      </label>
      <button type="submit">
        Submit
      </button>
    <% end %>
  </body>

</html>
